* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    background-color: #F5F5F5;
}

/* ? ----- HEADER ----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 60px;
    height: 60px;
} 

header ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    padding-right: 1rem;
}

/* ? ----- NAVBAR ----- */

nav {
    background-color: #20889F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    font-family: 'Kenia', sans-serif;
    font-size: 2rem;
    padding-left: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
}

nav .nav-avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-avatar p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

nav .nav-avatar img {
    width: 70px;
    height: 70px;
}

/* ? ----- MAIN ----- */

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

main .left {
    width: 70%;
    margin-top: 2rem;
    background-color: white;
    margin-left: 25rem;
    box-shadow: 0 0 15px black;
}

main .left ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    list-style-type: none;
}

main .left ul li {
    padding: 1rem;
}

main .left ul .ilk {
    background-color: #D2E7EC;
    border-radius: .5rem;
}

main .main-part1 {
    padding: .5rem;
    box-shadow: 0 0 15px black;
    background-color: white;
    width: 60%;
    margin-left: 2rem;
    margin-top: 2rem;
}

main .main-part1 h2 {
    color: #20889F;
}

main .main-part1 .paticipants {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 1rem;
    gap: 1rem;
    
}

.paticipants .avatars {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.avatars-text .name {
    font-size: 1.4rem;
}

.paticipants .avatars img {
    width: 80px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
}

main .main-part1 .topFollowers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 1rem;
}

.topFollowers .newsList {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.topFollowers .newsList img {
    width: 40%;
    border: 10px solid #20889F;
    border-radius: 1rem;
}

.newsList .news {
    font-weight: 600;
}

.newsList .writer {
    font-size: 12px;
    color: #20889F;
}

main .main-part2 {
    padding: .5rem;
    box-shadow: 0 0 15px black;
    background-color: white;
    width: 60%;
    margin-left: 2rem;
    margin-top: 2rem;
}

.main-part2 h2 {
    color: #20889F;
}

.top-news-divs {
    display: flex;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

.topNew {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.topNew img {
    width: 100%;
}

.topNew h3{
    margin: 1rem;
}